@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Glassure'; 
  src: url('/fonts/Glassure.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;
  --font-glassure: "Glassure", ui-serif, Georgia, serif;
  --font-geom: "Geom", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-neutral-900 font-sans antialiased overflow-x-hidden selection:bg-neutral-200 selection:text-black;
  }
}

